/* image should be background-size: 175% for mobile;
    and background-size: cover; for greater than 1080 x 864
    in between i have no clue - around 150% i guess
*/

body {
	text-align: center;
	color: black;
	font-family: helvetica;
}
h1 {
	font-family: 'Righteous', cursive;
}
h2 {
    font-size: 20px;
}
.content {
	display: block;
    background-color: rgba(255,255,255, 0.5);
    position: fixed;
    z-index: 1;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    margin: auto;
    width:75%;
    height:75%;
    overflow:auto;
    min-height: 300px;
}
.self {
	border-radius: 100%;
	width: 150px;
	margin-top: 10px;
}
ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
i {
    color: black;
}
li {
    display: inline;
    margin: 10px;
}
.social {
    margin-top: 50px;
}